<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are the records</h1>
    {%if records%}
    <table>
        <th>Name</th>
        <th>type</th>
        <th>Quantity</th>
        <th>Price</th>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{record.name}}</td>
                <td>{{record.type}}</td>
                <td>{{record.quantity}}</td>
                <td>{{record.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
    <p>No records found</p>
    {%endif%}
</body>
</html>