<form method="post">
    {% csrf_token %}
<label>Student name : </label>
<input type="text" name="name">
   <br><br>
   <label>Register number : </label>
   <input type="text" name="reg">
      <br><br>
      <label>Marks scored in subject1 : </label>
<input type="text" name="m1">
   <br><br>
   <label>Marks scored in subject2 : </label>
<input type="text" name="m2">
   <br><br>
   <label>Marks scored in subject3 : </label>
   <input type="text" name="m3">
      <br><br>
    
    

    <button type="submit">ADD</button>
</form>