{% extends 'bootstrap.html' %}
{% block content %}
{% if error %}
<h2>ERROR</h2>
<p>{{error}} <br>
<h2>{{n}} must not be > {{m}}</h2>
</p>
<a href="{% url 'rand_init' %}">Go back to home page</a>
{% endif %}

{% if lst %}
<h2>CSV</h2>
<p>{{lst}}</p>
<p> Download the CSV File here: </p>
<a href="csv">
    <button type="button">
        <h3>Download</h3>
    </button>
</a><br><br>
<a href="{% url 'rand_init' %}">Try Again</a>

{% endif %}

<!-- {% if seq %}
<h1>Sequence : n = {{n}}, m = {{m}}</h1>
<p>{{seq}}</p>
{% endif %} -->
{% if none%}
<h2>Hello there</h2>
{% endif %}
{% endblock content %}